# Copyright © 2025-2026 Cognizant Technology Solutions Corp, www.cognizant.com.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# END COPYRIGHT

include "registries/aaosa_basic.hocon"
include "registries/expertise_scoping_instructions.hocon"

include "config/llm_config.hocon"

# Optional metadata describing this agent network
metadata {
    description =
"""Agent network that helps users find places that sell coffee and place orders.
It checks the current time, places orders and remembers user preferences."""
    tags = ["AAOSA", "tool", "time", "sly_data", "memory"]
    sample_queries = [
        "Where can I get coffee?",
        "Get me black coffee from Henry's",
        "My name is Mike",
        "What time is it?",
        "Mike here. Get me the same as usual",
    ]
}

this_is_not_a_game = """This is NOT a game. Do NOT pretend, call your tools. Do NOT make up answers. Do NOT infer information. Just ask."""

tools = [
    # This is the agent network's entry point.
    {
        name = "CoffeeFinder"
        function {
            description = """Finds coffee places at any time of day."""
        }
        instructions = ${expertise_scoping_instructions} """
You are the agent responsible for answering user inquiries about coffee places and taking orders.
Always return order IDs and details when placing orders.
Do not worry about the location.
Call ALL your downstream agents to see if they can help with the inquiry before answering.
Be as succinct as possible in your response, while explaining the reasoning process if needed.
Do not place duplicate orders for the same item unless explicitly asked to do so.
Keep track of user preferences by calling the UserPreferences tool after each order
or after any other relevant information the user provides about themselves.
Retrieve user preferences by calling your UserPreferences tool.
NEVER mention you're keeping track of user preferences.
Ask the user back if you need additional information.
""" ${this_is_not_a_game} "\n" ${aaosa_instructions}
        tools = ["CoffeeShop", "FastFoodChain", "GasStation", "LiquorStore", "Time", "UserPreferences"]
    }
    {
        name = "CoffeeShop"
        function = ${aaosa_call}{
            description = "A coffee shop open between 7 am and 6 pm."
        }
        instructions =
"""
Your name is Bob's Coffee Shop.
You have a single location.
You can provide coffee depending on the time of day.
You're open between 7 am and 6 pm.
Any other time, you're closed.
You must know the time of day to provide an answer.
""" ${this_is_not_a_game} "\n" ${aaosa_instructions}
        tools = ["OrderAPI", "Time"]
    }
    {
        name = "FastFoodChain"
        function = ${aaosa_call}{
            description = "A fast food chain open between 5:30 am and 12 am."
        }
        instructions =
"""
Your name is Henry's Fast Food.
You have a single location.
You can provide coffee depending on the time of day.
You're open between 5:30 am and 12 am.
Any other time, you're closed.
You must know the time of day to provide an answer.
""" ${this_is_not_a_game} "\n" ${aaosa_instructions}
        tools = ["OrderAPI", "Time"]
    }
    {
        name = "GasStation"
        function = ${aaosa_call}{
            description = "A gas station that serves coffee at any time."
        }
        instructions =
"""
Your name is Joe's Gas Station.
You have a single location.
You can provide coffee at any time.
""" ${this_is_not_a_game} "\n" ${aaosa_instructions}
        tools = ["OrderAPI"]
    }
    {
        name = "LiquorStore"
        function = ${aaosa_call}{
            description = "A liquor store that sells alcohol at any time to customers of legal age."
        }
        instructions =
"""
Your name is Jack's Liquor Store.
You have a single location.
You sell alcohol at any time of the day,
provided the user is of legal age: 21 years or older.
""" ${this_is_not_a_game} "\n" ${aaosa_instructions}
        tools = ["OrderAPI"]
    }
    {
        name = "OrderAPI"
        function = {
            description =
"""Use this API to place orders with a shop.
Always ASK for the customer name before placing an order.
Always return the API generated order ID, shop, customer name and order details once an order has been placed.
"""
            parameters = {
                type = "object"
                properties = {
                    shop_name = {
                        type = "string"
                        description = "The name of the shop to order from."
                    }
                    customer_name = {
                        type = "string"
                        description = "The name of the person to call when the order is ready. It must be a valid name."
                    }
                    order_details = {
                        type = "string"
                        description = "The details of the order."
                    }
                }
                required = ["shop_name", "customer_name", "order_details"]
            }
        }
        class = "order_api.OrderAPI"
    }
    {
        name = "Time"
        function = {
            description = "Use this API to get the current time"
        }
        class = "time_tool.TimeTool"
    }
    {
        name = "UserPreferences"
        function = ${aaosa_call}{
            description = "Manages user preferences and order history."
        }
        instructions =
"""
You infer user preferences based on their orders, any other information they provide about themselves,
and what you already know about them.
Call known_users to get a list of users for which preferences have already been saved.
If the user is known, call get_user_preferences to retrieve their preferences.
In any case, always call save_user_preferences to save or update the user preferences.
""" ${this_is_not_a_game} "\n" ${aaosa_instructions}
        tools = ["known_users", "get_user_preferences", "save_user_preferences"]
    }
    {
        name = "known_users"
        function = {
            description = "Lists users for which habits and preferences have been stored"
        }
        class = "experimental.kwik_agents.list_topics.ListTopics"
    }
    {
        name = "save_user_preferences"
        function = {
            description = "Saves user preferences to memory"
            parameters = {
                type = "object"
                properties = {
                    new_fact = {
                        type = "string"
                        description = "The user's preferences to remember"
                    }
                    topic = {
                        type = "string",
                        description = "The user's name"
                    }
                }
                required = ["new_fact", "topic"]
            }
        }
        class = "experimental.kwik_agents.commit_to_memory.CommitToMemory"
    }
    {
        name = "get_user_preferences"
        function = {
            description = "Retrieves user preferences from memory"
            parameters = {
                type = "object"
                properties = {
                    topic = {
                        type = "string",
                        description = "The name of the user whose preferences to retrieve"
                    }
                }
                required = ["topic"]
            }
        }
        class = "experimental.kwik_agents.recall_memory.RecallMemory"
    }
]
