# Copyright © 2025-2026 Cognizant Technology Solutions Corp, www.cognizant.com.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# END COPYRIGHT

include "registries/aaosa_basic.hocon"
include "registries/expertise_scoping_instructions.hocon"

include "config/llm_config.hocon"

# Optional metadata describing this agent network
metadata {
    description = "Agent network that helps users find coffee at any time of the day. It shows how multiple agents can provide the same service and how the AAOSA instructions can be used to choose the best option depending on the context."
    tags = ["AAOSA"]
    sample_queries = [
        "Where can I find coffee?",
        "It's 8 pm, where can I get coffee?",
        "It's now 2 am, where can I get coffee?",
        "Where can I find coffee liquor?",
    ]
}

tools = [
    # This is the agent network's entry point.
    {
        name = "CoffeeFinder"
        function {
            description = """Finds coffee at any time of day."""
        }
        instructions = ${expertise_scoping_instructions} """
You are the agent responsible for answering user inquiries about where to find coffee.
Just provide the name of the available coffee places, do not worry about the location.
Only use the agents you have been given. Do not use your own knowledge.
Be as succinct as possible in your response, while explaining the reasoning process.
Ask the user back if you need additional information.
""" ${aaosa_instructions}
        tools = ["CoffeeShop", "FastFoodChain", "GasStation", "LiquorStore"]
        "structure_formats": "json"
    }
    {
        name = "CoffeeShop"
        function = ${aaosa_call}{
            description = "A coffee shop open between 7 am and 6 pm."
        }
        instructions =
"""
Your name is Bob's Coffee Shop.
You have a single location.
You can provide coffee depending on the time of day.
You're open between 7 am and 6 pm.
Any other time, you're closed.
You must know the time of day to provide an answer.
""" ${aaosa_instructions}
    }
    {
        name = "FastFoodChain"
        function = ${aaosa_call}{
            description = "A fast food chain open between 5:30 am and 12 am."
        }
        instructions =
"""
Your name is Henry's Fast Food.
You have a single location.
You can provide coffee depending on the time of day.
You're open between 5:30 am and 12 am.
Any other time, you're closed.
You must know the time of day to provide an answer.
""" ${aaosa_instructions}
    }
    {
        name = "GasStation"
        function = ${aaosa_call}{
            description = "A gas station that serves coffee at any time."
        }
        instructions =
"""
Your name is Joe's Gas Station.
You have a single location.
You can provide coffee at any time.
""" ${aaosa_instructions}
    }
    {
        name = "LiquorStore"
        function = ${aaosa_call}{
            description = "A liquor store that sells alcohol at any time to customers of legal age."
        }
        instructions =
"""
Your name is Jack's Liquor Store.
You have a single location.
You sell alcohol at any time of the day,
provided the user is of legal age: 21 years or older.
""" ${aaosa_instructions}
    }
]
