# Phoenix AI Observability

# Why do we need version pins?

# Note: If you are updating dependencies here, you will also want to update
#       the same dependencies in requirements-build.txt for general builds to work.
arize-phoenix==14.6.0
arize-phoenix-otel==0.16.1
openinference-instrumentation-anthropic==1.0.3
openinference-instrumentation-langchain==0.1.64
openinference-instrumentation-litellm==0.1.32
openinference-instrumentation-mcp==2.0.1
openinference-instrumentation-openai==0.1.47
