# Copyright © 2025-2026 Cognizant Technology Solutions Corp, www.cognizant.com.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# END COPYRIGHT
{
    # Refer to this document for neuro-san specifications for the agent manifest.hocon file 
    # that is used as configuration for neuro-san servers
    # https://github.com/cognizant-ai-lab/neuro-san/blob/main/docs/manifest_hocon_reference.md

    #
    # Industry use cases
    #
    "industry/airline_policy.hocon": true,
    "industry/airline_policy_web_search.hocon": true,
    "industry/banking_ops.hocon": true,
    "industry/cpg_agents.hocon": true,
    "industry/consumer_decision_assistant.hocon": true,
    "industry/insurance_agents.hocon": false,  # This is a deprecated version of insurance_underwriting_agents.hocon
    "industry/insurance_underwriting_agents.hocon": true,
    "industry/intranet_agents.hocon": false,  # This is a deprecated version of intranet_agents_with_tools.hocon
    "industry/intranet_agents_with_tools.hocon": true,
    "industry/intranet_agents_with_memory_routing.hocon": false,  # Memory-routing variant of intranet_agents_with_tools; needs Mem0 cloud (mem0ai + MEM0_API_KEY). See its doc.
    "industry/keybank.hocon": false,
    "industry/news_sentiment_analysis.hocon": false,
    "industry/real_estate.hocon": false,
    "industry/retail_ops_and_customer_service.hocon": true,
    "industry/telco_network_support.hocon": true,
    "industry/telco_network_orchestration.hocon": true,
    "industry/therapy_vignette_supervisors.hocon": true,
    
    # The following agent networks are used as sub-networks by consumer_decision_assistant.hocon
    "industry/airbnb.hocon": true,
    "industry/booking.hocon": true,
    "industry/carmax.hocon": true,
    "industry/expedia.hocon": true,
    "industry/macys.hocon": true,
    "industry/LinkedInJobSeekerSupportNetwork.hocon": true,
}
