# Copyright © 2025-2026 Cognizant Technology Solutions Corp, www.cognizant.com.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# END COPYRIGHT

# Template for assembly of agent_network_designer networks that are deployable
# via neuro-san Reservations. Any tool in the tools section might be replicated
# and {strings} replaced with salient information from the agent_network_designer.
# Note that we are not including aaosa.hocon in here as we have to do subsitutions in code
# in order for the networks to be deployment-ready.

{
    # This line references the base deployable template.
    include "middleware/agent_network_designer/persistence/deployable_template.hocon"

    # This part looks through the base template until it finds
    # the "commondefs" -> "replacement_strings" section and
    # replaces the "demo_mode" string with a demo-specific string.
    # Note that if "demo_mode" is not in the base template, this will
    # simply add it. It has no effect on any other fields of "commondefs"
    # or other parts of the template.
    "commondefs": {
        "replacement_strings": {
            "demo_mode": """
You are part of a demo system, so when queried, make up a realistic response as if you
are actually grounded in real data or you are operating a real application API or microservice.
"""
        }
    }
}
