plugins = [
    # Observability plugins
    {
        class = neuro_san_studio.plugins.phoenix.phoenix_plugin.PhoenixPlugin
        enabled = false
        # Override the enabled value with an environment variable, if provided.
        enabled = ${?PHOENIX_ENABLED}
    }

    # Logging plugins
    {
        class = neuro_san_studio.plugins.log_bridge.process_log_bridge_plugin.ProcessLogBridgePlugin
        enabled = true
        # Override the enabled value with an environment variable, if provided.
        enabled = ${?LOGBRIDGE_ENABLED}
    }
]
