# Copyright © 2025-2026 Cognizant Technology Solutions Corp, www.cognizant.com.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# END COPYRIGHT

# To use this search tool, you must
#
# 1. Create a Custom Search Engine (CSE)
#   * Go to  https://programmablesearchengine.google.com/
#   * Click "Add" → Choose sites or use "*" to search the whole web (then enable that in settings).
#   * Note your Search Engine ID (cx).
# 2. Get Google API key
#  * Go to: https://console.cloud.google.com/
#  * Enable the Custom Search API.
#  * Create an API key under APIs & Services > Credentials.
#
# Use the CSE ID in step 1 to set GOOGLE_SEARCH_CSE_ID environment variable.
# Use the API key in step 2 to set GOOGLE_SEARCH_API_KEY environment variable.
#
# You can optionally set a custom search URL and a custom timeout via the GOOGLE_SEARCH_URL and GOOGLE_SEARCH_TIMEOUT environment variables.
# Otherwise, the default values of "https://www.googleapis.com/customsearch/v1" and "30" are used, respectively

{
    include "registries/expertise_scoping_instructions.hocon",

    # Load the shared LLM configuration from a single source of truth.
    # This allows users to change the model in one file rather than
    # modifying the configuration for each agent network.
    # Note that the file path here is relative to the root level of the repo.
    include "config/llm_config.hocon",
    "tools": [
        # This first agent definition is regarded as the "Front Man", which
        # does all the talking to the outside world/client.
        #
        # Some disqualifications from being a front man:
        #   1) Cannot use a CodedTool "class" definition
        #   2) Cannot use a Tool "toolbox" definition
        #
        # Besides the first agent being the front man, these tool definitions
        # do not have to be in any particular order. How they are linked and
        # call each other is defined within their own specs.
        # This could be a graph, potentially even with cycles.
        {
            "name": "searcher",

            "function": {
                "description": "Assist caller with searching a url.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "user_inquiry": {
                            "type": "string",
                            "description": """
                            An inquiry from a user.
                            """
                        },
                    },
                    "required": ["user_inquiry"]
                }
            },

            "instructions": """
Use your tool to respond to the inquiry.
""" ${expertise_scoping_instructions},
            "tools": ["google_search"]
        },
        {
            "name": "google_search",
            "toolbox": "google_search",
            "args": {
                # --- Optional Arguments ---

                # --- Request Configuration ---

                # Google Search API endpoint
                # This will override the env var GOOGLE_URL
                # (defaults to https://www.googleapis.com/customsearch/v1)
                "google_url": "https://www.googleapis.com/customsearch/v1",

                # Request timeout in seconds
                # This will override the env var GOOGLE_TIMEOUT
                # (default: 30.0)
                "google_timeout": 10.0,

                # --- Search Query Parameters ---

                # Search query string
                # "q": "<what_to_search_for>"
                # If specified, this will override the query provided by the LLM

                # Maximum number of search results to return
                "num": 5,

                # For more query parameter options, see:
                # https://developers.google.com/custom-search/v1/reference/rest/v1/cse/list#request
            }
        },
    ]
}
